################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/updated sot/v17
/.vs/updated sot/FileContentIndex
/lib
/Loader/Release
/bin/Release
/Cheat/Release/Cheat.tlog
/Cheat/Release
