################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/updated sot/v17
/.vs/updated sot/FileContentIndex
